<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,57}</string>
                <key>spriteSourceSize</key>
                <string>{176,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,58}</string>
                <key>spriteSourceSize</key>
                <string>{186,58}</string>
                <key>textureRect</key>
                <string>{{1,296},{186,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,58}</string>
                <key>spriteSourceSize</key>
                <string>{181,58}</string>
                <key>textureRect</key>
                <string>{{1,356},{181,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,71}</string>
                <key>spriteSourceSize</key>
                <string>{233,71}</string>
                <key>textureRect</key>
                <string>{{1,833},{229,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,71}</string>
                <key>spriteSourceSize</key>
                <string>{229,71}</string>
                <key>textureRect</key>
                <string>{{1,906},{229,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{225,67}</string>
                <key>spriteSourceSize</key>
                <string>{227,67}</string>
                <key>textureRect</key>
                <string>{{1,557},{225,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,71}</string>
                <key>spriteSourceSize</key>
                <string>{225,71}</string>
                <key>textureRect</key>
                <string>{{1,979},{225,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,71}</string>
                <key>spriteSourceSize</key>
                <string>{226,71}</string>
                <key>textureRect</key>
                <string>{{1,1052},{226,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,71}</string>
                <key>spriteSourceSize</key>
                <string>{232,71}</string>
                <key>textureRect</key>
                <string>{{1,1125},{232,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{197,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{184,358},{197,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,67}</string>
                <key>spriteSourceSize</key>
                <string>{229,67}</string>
                <key>textureRect</key>
                <string>{{1,626},{229,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{236,67}</string>
                <key>spriteSourceSize</key>
                <string>{240,67}</string>
                <key>textureRect</key>
                <string>{{1,695},{236,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,58}</string>
                <key>spriteSourceSize</key>
                <string>{179,58}</string>
                <key>textureRect</key>
                <string>{{1,416},{179,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{232,67}</string>
                <key>textureRect</key>
                <string>{{1,764},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,58}</string>
                <key>spriteSourceSize</key>
                <string>{177,58}</string>
                <key>textureRect</key>
                <string>{{190,179},{177,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{180,58}</string>
                <key>spriteSourceSize</key>
                <string>{182,58}</string>
                <key>textureRect</key>
                <string>{{1,476},{180,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,57}</string>
                <key>spriteSourceSize</key>
                <string>{179,57}</string>
                <key>textureRect</key>
                <string>{{1,60},{179,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{176,59}</string>
                <key>spriteSourceSize</key>
                <string>{178,59}</string>
                <key>textureRect</key>
                <string>{{189,1},{176,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,57}</string>
                <key>spriteSourceSize</key>
                <string>{186,57}</string>
                <key>textureRect</key>
                <string>{{1,119},{186,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,57}</string>
                <key>spriteSourceSize</key>
                <string>{187,57}</string>
                <key>textureRect</key>
                <string>{{1,237},{187,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,57}</string>
                <key>spriteSourceSize</key>
                <string>{177,57}</string>
                <key>textureRect</key>
                <string>{{1,178},{177,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardtype.png</string>
            <key>size</key>
            <string>{256,1197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e2bc1b6e50ee0a5379ff3063990afef:fdef15f7a5e93b065c44ebbc6cd55543:90d774fb224b6482b6396a28dd18bbf4$</string>
            <key>textureFileName</key>
            <string>cardtype.png</string>
        </dict>
    </dict>
</plist>
