<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nub_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1,949},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,1},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{171,949},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,69},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,1},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{341,949},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,137},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,69},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,1},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{511,949},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,205},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,137},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,69},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{681,949},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,273},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,205},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,137},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{851,949},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,341},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,273},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,205},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1021,949},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,409},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,341},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,273},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1191,949},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,477},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,409},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,341},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,545},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,477},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,409},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,613},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,545},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,477},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,681},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,613},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,545},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,749},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,681},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,613},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,817},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,749},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,681},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,817},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,749},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,817},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1365,885},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1535,885},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1705,885},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1361,953},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nub_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1531,953},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paibei_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1,1},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paibei_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1,475},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paibei_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{683,1},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paibei_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{683,475},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cuocard.png</string>
            <key>size</key>
            <string>{1874,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e510a037b9a88f29f7fb6cf994ae99f:008a84a26df866b0173149cf46e3968c:571cb26d1f5da4daac8acb5d0fddd8a3$</string>
            <key>textureFileName</key>
            <string>cuocard.png</string>
        </dict>
    </dict>
</plist>
